.sidebar
  width 250px
  background-color white
  margin-top 64px

.sidebar-menu
  display block
  padding 0
  li
    border-bottom 1px solid $light_silver_border
    &:hover
      cursor pointer
      background-color $light_silver_hover
    a
      font-size 1.2em
      text-decoration none
      outline none
      display block
      color $font_color
      width 100%
      padding 15px
      i
        font-size 1.2em
        margin-right 10px

.sidebar-toggle
  float left
  text-align center
  min-width 64px
  display inline-block
  line-height 64px
  position relative
  i
    item-selectable(none)
    position absolute
    margin 20px 0
    font-size 24px
    top 0
    left 0
    z-index 2
    &:hover
      cursor pointer

.sidebar-toggle + .navbar-header
  margin-left 39px !important